.Main_Tabs {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.2s;
}

.Main_Tabs_Label {
  border: none;
  transition: all 0.2s;
  display: flex;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  outline: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #dfe5ec;
}

.Main_Tabs_Label-cheap {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #dfe5ec;
}
.Main_Tabs_Label-fast {
  border-radius: none;
}
.Main_Tabs_Label-optimum {
  border-radius: 0 5px 5px 0;
  border-left: 1px solid #dfe5ec;
}

.Main_Tabs_Label:active,
.Main_Tabs_Label-active,
.Main_Tabs_Label:checked {
  background-color: #2196f3;
  color: #ffffff;
}
.Main_Tabs_Input {
  display: none;
}
.Main_Tabs_Input:checked + .Main_Tabs_Label {
  background-color: #2196f3;
  color: #ffffff;
}
