.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #f3f7fa;
  font-family: "Open Sans", sans-serif;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 30px 0;
}

.App-link {
  color: #61dafb;
}

.main {
  display: grid;
  grid-template-columns: 232px 502px;
  margin: 0 auto;
  gap: 20px;
}

.aside-filter {
  background-color: #ffffff;
  padding: 0;
  box-shadow: 0px 2px 8px RGB(0 0 0 / 10%);
  border-radius: 5px;
  padding-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  color: #4a4a4a;
}

.aside-filter__title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  padding: 20px 20px 10px;
}

.options-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border: none;
  list-style: none;
}

.option__label {
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  transition: all 0.2s;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.option__input {
  width: 18px;
  height: 18px;
  overflow: hidden;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-color: #9abbce;
  margin-right: 10px;
  transition: all 0.2s;
}

.ticket-card__head {
  display: flex;
}

.main-tabs {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.2s;
}

.main-tabs__button {
    border: none;
    transition: all 0.2s;
    display: block;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    outline: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.main-tabs__button:nth-child(1) {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #dfe5ec;
}
.main-tabs__button:nth-child(2) {
  border-radius: none;
}
.main-tabs__button:nth-child(3) {
  border-radius: 0 5px 5px 0;
  border-left: 1px solid #dfe5ec;
}

.main-tabs__button:active,
.main-tabs__button:hover,
.main-tabs__button-active {
  background-color: #2196f3;
  color: #ffffff;
}

.tickets__list {
  list-style: none;
    margin: 20px 0;
    padding: 0;
    display: grid;
    gap: 20px;
}

.ticket-card {
  width: 100%;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 8px RGB(0 0 0 / 10%);
}

.ticket-card__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.ticket-price {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #2196f3;
}

.ticket-card__table {
  display: block;
  margin-right: 40px;
}

.table__head, .table__body {
  display: table;
  width: 100%;
}

tr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
}

th {
  color: #A0B0B9;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  width: fit-content;
}

td {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  color: #4A4A4A;
  width: fit-content;
}

.show-more__button {
  width: 100%;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2196f3;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 4px 4px RGB(0 0 0 / 25%);
  outline: none;
  transition: all 0.3s;
  cursor: pointer;
}